.job-details {
    background-color: $white;
    padding-bottom: 162px;

    .job-wraper {

        @include media('>1024px') {
            display: flex;
        }
    }

    .main-content {
        max-width: 721px;
    }

    .jobs-details-wraper {
        margin-bottom: 32px;
        

        @include media('>=tablet') {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid rgb(58, 69, 100, 0.13);
            padding-bottom: 9px;
            margin-bottom: 39px;
        }
    }

    .icons-holder {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        @include media('>=tablet') {
            justify-content: flex-end; 
        }
    }

    label {
        margin: 0 31px 0 11px;
        font-size: 16px;
        line-height: 24px;
        cursor: pointer;

        @include media('>=tablet') {
            font-size: 18px;
            margin: 0 31px 0 16px;
        }
    }

    .icon-star-empty:before {
        content: "\e9d7";

        @include media('>=tablet') {
            display: none;
        }
    }

    .title {
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;
        border-bottom: 1px solid rgb(58, 69, 100, 0.13);
        padding-bottom: 12px;
        margin-bottom: 24px;

        @include media('>=tablet') {
            padding: 0;
            margin: 0;
            border-bottom: none;
        }
    }

    .icon-share:before {
        content: "\ea82";
        font-size: 16px;
        cursor: pointer;

        @include media('>=tablet') {
            font-size: 18px;
        }
    }

    .text {
        @extend label;
        margin: 0 0 0 11px;
        cursor: pointer;

        @include media('>=tablet') {
            margin: 0 0 0 15px;
        }
    }

    .btn-holder {
        margin-bottom: 32px;
        display: flex;
        justify-content: center;

        @include media('>=tablet') {
            display: block;
        }
    }

    

    .apply-btn.mobile {
        display: none;

        @include media('>=tablet') {
            display: block;
        }
    }

    .title-and-salary {
        margin-bottom: 6px;

        @include media('>=tablet') {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    .job-title-holder {
        width: 100%;
        max-width: 501px;
    }

    .salary-holder {
        display: none;

        @include media('>=tablet') {
            display: block;
        }
    }

    .salary-posted-wraper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include media('>=tablet') {
            display: block;
        }
    }

    .salary-holder.mobile {
        display: block;
        text-align: end;
        margin-bottom: 14px;
        

        @include media('>=tablet') {
            display: none;
        }
    }

    .job-name {
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
    }

    .salary-sum {
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 1px;
    }

    .salary-text {
        font-size: 18px;
        line-height: 24px;
    }

    .posted {
        font-size: 13px;
        line-height: 25px;
        color: rgba(56, 65, 93, 0.355988);
        margin-bottom: 7px;

        @include media('>=tablet') {
            font-size: 18px;
            line-height: 24px;
        }
    }

    .job-description-wraper {
        margin-bottom: 35px;
    }

    .job-description {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 35px;
    }

    .btn-holder.new {
        margin-bottom: 135px;

        @include media('>=tablet') {
            margin-bottom: 86px;
        }
    }

    .title-holder.new {
        margin-bottom: 15px;
    }
    
    .title.new {
        padding-bottom: 9px;
        border-bottom: 1px solid rgb(58, 69, 100, 0.13);
    }

    .additional-images-wraper {
        display: flex;
        flex-direction: column-reverse;
        
        

        @include media('>=tablet') {
            display: block;
        }
    }

    .additional-info-wraper {
        margin-bottom: 87px;
    }

    .employment-benefits {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 10px;
    }

    .btn-empl-wraper {
        display: flex;
        flex-wrap: wrap;
    }
    

    .btn-holder-empl {
        margin: 0 8px 23px 0;
    }

    .btn-holder-empl.yellow {
        margin: 0 8px 0 0;
    }

    .attached-images-wraper {
        margin-bottom: 55px;
        cursor: pointer;

        @include media('>=tablet') {
            margin-bottom: 89px;
        }
    }

    .images-wraper {
        display: flex;
        justify-content: center;

        @include media('>=tablet') {
            justify-content: flex-start;
        }
    }

    .attached-images-holder {
       margin-right: 10px;
    }

    .attached-images {
        width: 85px;
        height: 100px;
        border-radius: 8px;

        @include media('>=tablet') {
            width: 200px;
            height: 133px;
        }
    }

    .back {
        width: 100%;
        max-width: 213px;
        min-height: 50px;
        display: flex;
        margin: 0 auto;
        align-items: center;
        text-decoration: none;
        background-color: rgb(56, 69, 100, 0.14);
        border-radius: 8px;
        cursor: pointer;

        @include media('>=tablet') {
            margin: 0;
        }
    }

    .arrow {
        padding: 16px 0 16px 23px;
        font-size: 20px;
        color: #3A4562;
        margin-right: 19px;
    }

    .back-btn { 
        padding: 18px 26px 16px 0;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: #3A4562;
    }

    .map-content {
        
        @include media('>1024px') {
            width: 100%;
            max-width: 536px;
        }
    }

    .map-wraper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @include media('>1024px') {
            display: block;
            position: relative;
            margin-left: 134px;
        }
    }

    .contacts-wraper {
       display: none;

        @include media('>1024px') {
            display: block;
            max-width: 402px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            min-height: 436px;
            outline: 5px solid $white;
            border-radius: 8px;
            background-color: #2A3047;
            z-index: 0;
            
        }
    }

    .contact-info {
        width: 100%;
        max-width: 372px;
        min-height: 218px;
        padding: 31px 62px 0 62px;
        background-color: #2A3047;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        

        @include media('>1024px') {
            display: block;
            max-width: 402px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            min-height: 436px;
            outline: 5px solid $white;
            border-radius: 8px;
            padding: 31px 62px 0 62px;
            background-color: transparent;
            border: none;
            z-index: 20;
        }
    }

    .circle {
        display: none;

        @include media('>1024px') {
            display: block;
            position: absolute;
            top: -16px;
            left: -72px;
            width: 100%;
            max-width: 273px;
            min-height: 273px;
            background-color: $circle;
            border-radius: 100%;
            z-index: 10;
        }
    }

    .department-name {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #E7EAF0;
        margin-bottom: 17px;
        z-index: 6;

        @include media('>=tablet') {
            font-size: 20px;
            line-height: 25px;
            margin-bottom: 8px;
        }
    }

    .contact-info li {
        list-style: none;
    }

    .loc-point {
        padding-right: 8px;
    }

    .department-name.address {
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        color: #E8EBF3;
        margin-bottom: 6px;

        @include media('>=tablet') {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 8px;
        }
    }

    .department-name.address.email {
        color: rgba(255, 255, 255, 0.669635);
    }

    .white1 {
        display: block;
        
        @include media('>1024px') {
            position: absolute;
            top: -34px;
            left: 0;
            width: 273px;
            height: 50px;
            background-color: $white;
            z-index: 15;
        }
    }

    .white2 {
        display: none;

        @include media('>1024px') {
            position: absolute;
            display: block;
            background-color: $white;
            z-index: 15;
            top: 0;
            left: -3px;
            width: 75px;
            height: 273px;
        }
    }

    .map {
        background-color: #2A3047;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        width: 100%;
        max-width: 372px;
        min-height: 218px;
        margin-bottom: 50px;
        

        @include media('>1024px') {
            max-width: 402px;
            width: 100%;
            z-index: 50;
            position: absolute;
            top: 218px;
            left: 0;
            margin: 0;
        }
    }

    .error {
        padding: 50px 0;
        color: red;
        text-align: center;
        font-size: 26px;
    }
}



